<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration>

    <!-- 将日志信息输出到控制台 -->
    <appender name="STDOUT" class="org.apache.log4j.ConsoleAppender">
        <!-- 设置日志输出的样式 -->
        <layout class="org.apache.log4j.PatternLayout">
            <!-- 设置日志输出的格式 -->
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%-5p] [method:%l] %m%n" />
        </layout>
    </appender>

    <!-- 将日志信息输出到文件，但是当文件的大小达到某个阈值的时候，日志文件会自动回滚 -->
    <appender name="RollingFileAppender" class="org.apache.log4j.RollingFileAppender">
        <!-- 设置日志信息输出文件全路径名 -->
        <param name="File" value="E:/log4j/RollingFileAppender.log" />
        <!-- 设置是否在重新启动服务时，在原有日志的基础添加新日志 -->
        <param name="Append" value="true" />
        <!-- 设置保存备份回滚日志的最大个数 -->
        <param name="MaxBackupIndex" value="10" />
        <!-- 设置当日志文件达到此阈值的时候自动回滚，单位可以是KB，MB，GB，默认单位是KB -->
        <param name="MaxFileSize" value="10KB" />
        <!-- 设置日志输出的样式 -->
        <layout class="org.apache.log4j.PatternLayout">
            <!-- 设置日志输出的格式 -->
            <param name="ConversionPattern" value="[%d{yyyy-MM-dd HH:mm:ss:SSS}] [%-5p] [method:%l]%n%m%n%n" />
        </layout>
    </appender>


    <!-- name值可以是包名或具体的类名：该包（包括子包）下的类或该类将采用此logger -->
<!--    <logger name="com.tryingpfq">-->
<!--        <level value="debug"/>-->
<!--        <appender-ref ref="STDOUT" />-->
<!--    </logger>-->

    <!--指定logger的设置，additivity指示是否遵循缺省的继承机制 -->
<!--    <logger name="com.tryingpfq" additivity="false">-->
<!--        <level value ="ERROR"/>-->
<!--        <appender-ref ref="RollingFileAppender"/>-->
<!--    </logger>-->


    <!-- root的默认level是DEBUG -->
    <root>
        <level value="debug"/>
        <appender-ref ref="STDOUT" />
        <appender-ref ref="RollingFileAppender"/>
    </root>

</log4j:configuration>